.LandingPage {
  display: flex;
  flex-direction: column;
  /* height: fit-content; */
  width: 70vw;
  margin-top: 10vh;
  background-color: #ccddd3;
  border: 5px solid #f6ae2d;
  align-items: center;
  padding: 0.9em;
}

.landing-page-form {
  /* height: 20vh; */
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.button {
  padding-right: 50px;
  width: 10vw;
  margin-left: 4vw;
}

h2 {
  font-size: 1.1em;
}
