.App {
  display: flex;
  justify-content: center;
}

.Header {
  padding: 20px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.full-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #357ded;
  min-height: 100vh;
}
* {
  color: #1c1c1c;
}
.error {
  color: #e02500;
}
